name: E2E Tests

on:
  push:
  pull_request:

jobs:
  e2e-tests:
    name: Run E2E tests
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y chromium

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -r process_report/tests/test-requirements.txt

    - name: Run E2E Tests
      run: |
        pytest process_report/tests/e2e/test_e2e_pipeline.py -v -s --log-cli-level=INFO
      env:
        CHROME_BIN_PATH: '/usr/bin/chromium'
